@import url('https://fonts.google.com/specimen/Roboto');

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    margin: 1rem;
    padding: 0rem;
    font-size: large;
    background-color: #f3eeee;
    color: #03010f;
    position: absolute;
    top: 110px;
    left: 170px;
    
    
}
.hero article img{
    border: 2px solid #f3eeee;
    width: 150px;
    position: absolute;
    height: auto;
    top: 170px;
    left: 25px;
}
.hero article p{
    font-size: large;
    border: 1px solid#03010f;
    background-color: aqua;
    width: 300px;
    position: absolute;
    top: 170px;
    left: 175px;
}

.hero div{
    position: relative;
}
.note p{
    font-size: small;
    color: #151618;
}
.note img{
    border: 3px solid #2d53cf ;
}
.text h2{
    background-color: #040705;
    padding: 0rem;
    width: 100px;
    color: rgb(247, 167, 8);
}
.note h2 {
    background-color: #040705;
    padding: 0rem;
    width: 250px;
    color: rgb(247, 167, 8);
}

.links a{
    text-decoration: none;
    position: relative;
    right: 100px;
}
.links img{
    position: relative;
    bottom: 10px;
}