*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav a:hover{
    border-bottom-style: solid;
    color: black;
    border-bottom-width: 1px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: steelblue;
    padding: 15px;
}
nav a{
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
h1{
    color: steelblue;   
    border-bottom: 2px solid black;
}
.bio{
    margin-top: 100px;
}
main img{
    border: 1px solid steelblue;
    padding: 2px;
    width: 400px;
    height: 300px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p{
    padding: 0px;
}
main{
    position: relative;
    grid-column: 2/3;
    margin: 1rem;
}
aside{
    color: aliceblue;
    text-align: center;
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside img{
    width: 200px;
    height: auto;
}
footer{
    margin-top: 30px;
    border-top: 3px solid rgb(2, 9, 15);
    text-align: center;
}
/* Class Selecters */
.box{
    margin-left: 1rem;
    border: 2px solid rgb(4, 5, 2);
    padding: 1rem;
    background-color: rgb(39, 68, 92);
    width: 300px;
}
.boxmain{
    width: 80%;
    height: 70%;
}
.box h2 {
    position: absolute;
    left: 200px;
    top: 40px; 
    color: rgb(252, 252, 249);
    border-bottom: 2px solid steelblue;
}
.box a{
    text-decoration: none;
    color: aliceblue;
}
.box a:hover{
    background-color: rgb(214, 187, 30);  
}
.box li{
    color: aliceblue;
    margin-bottom: 1px;
}
header, footer{
    max-width: 840px;
    margin: 0 auto; 
}
header, .grid, footer{
    max-width: 100%;
}
.grid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,2fr);
}

